# Astro Runtime includes the following pre-installed providers packages: https://docs.astronomer.io/astro/runtime-image-architecture#provider-packages
astronomer-cosmos==1.8.0
astro-sdk-python==1.8.1
protobuf>=4.25
openpyxl
requests
sidrapy
google-cloud-storage